@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Londrina+Solid:wght@300;400;900&family=Quattrocento:wght@400;700&family=Roboto+Condensed:wght@300;400;600&family=Satisfy&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #faf7f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url("./public/assets/iteration-1/home-banner.png");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat;
  background-size: 100% 100%; */
}
#mainHeader {
  font-family: Londrina Solid;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.header-logo {
  margin: 56px 0 53px 0;
}

.header-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 585px;
}

#promo-message {
  font-family: Satisfy;
  color: #fdc913;
  font-size: 32px;
  margin: 0;
}
#main-slogan {
  font-family: Roboto Condensed;
  font-size: 86px;
  font-weight: 300;
  margin: 0;
  text-align: center;
  line-height: 92px;
}

.btn {
  background-color: #fdc913;
  color: #292929;
  width: 194px;
  height: 56px;
  border-radius: 50px;
  border: none;
  font-family: Barlow;
  font-weight: 600;
  font-size: 18px;
  margin-top: 14px;
  cursor: pointer;
}
.navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 72px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #292929;
}
nav {
  display: flex;
  flex-direction: row;
}
.nav-items {
  display: flex;
  align-items: center;
  margin-right: 53px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 18px;
  color: #292929;
  cursor: pointer;
}

.nav-items img {
  margin-right: 16px;
}

.order-now {
  display: flex;
  flex-direction: row;
  margin: 68px 0 64px 0;
}

.left-side {
  height: 449px;
  width: 531px;
  border-radius: 12px;
  background-image: url("./public/assets/iteration-2/cta/kart-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.right-side {
  height: 449px;
  width: 531px;
  margin-left: 11px;
}

.right-side-top {
  height: 220px;
  background-image: url("./public/assets/iteration-2/cta/kart-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin-bottom: 9px;
}

.right-side-bottom {
  height: 220px;
  background-image: url("./public/assets/iteration-2/cta/kart-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.left-side-container {
  margin: 41px 0 0 39px;
}

#left-side-header1 {
  font-family: Quattrocento;
  font-weight: 700;
  font-size: 68px;
  line-height: 72px;
  max-width: 289px;
  margin: 0;
}

#left-side-header2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin: 6px 0 0 0;
}

.order-btn {
  margin-top: 25px;
  width: 138px;
  height: 48px;
  border-radius: 50px;
  border: none;
  color: #ce2829;
  font-family: Barlow;
  font-weight: 600;
  font-size: 14px;
  line-height: 48px;
  cursor: pointer;
}

.right-side-top-container {
  padding: 28.5px 0 0 32px;
}

#right-side-header1 {
  width: 183px;
  height: 86px;
  line-height: 44.27px;
  margin: 0;
  padding: 0;
  font-family: Barlow;
  font-weight: 600;
  font-size: 32px;
  color: #ffffff;
}

.right-side-bottom-container {
  padding: 28.5px 0 0 32px;
}

#right-side-header2 {
  width: 250px;
  height: 84px;
  line-height: 44.27px;
  margin: 0;
  padding: 0;
  font-family: Barlow;
  font-weight: 600;
  font-size: 32px;
  color: #292929;
}
.highlight {
  color: red;
}
.menu {
  display: flex;
  flex-direction: column;
}
.menu-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.most-ordered-title {
  font-family: Satisfy;
  font-weight: 400;
  font-size: 32px;
  color: #ce2829;
  line-height: 45px;
  margin: 0;
}

.promoCode-title {
  font-family: Barlow;
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  color: #292929;
  margin: 8px 0 10px 0;
}
.nav-menu {
  display: flex;
  align-items: center;
  margin: auto;
}
.menu-items {
  display: flex;
  align-items: center;
  font-family: Barlow;
  font-weight: 500;
  font-size: 18px;
  line-height: 32.5px;
  color: #292929;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 12px 20px;
  margin-right: 22.5px;
  margin-bottom: 33px;
}
.active {
  display: flex;
  align-items: center;
  font-family: Barlow;
  font-weight: 500;
  font-size: 18px;
  line-height: 32.5px;
  color: #ffffff;
  background-color: #292929;
  border-radius: 50px;
  padding: 12px 20px;
  margin-right: 22.5px;
  margin-bottom: 33px;
}
.nav-menu a img {
  margin-right: 5.5px;
}
@media (max-width: 768px) {
  .header-logo {
    margin: 50px 0 25px 0;
  }
  .header-actions {
    margin: 0 71px;
  }
  #mainHeader {
    font-size: 40px;
  }

  #promo-message {
    display: none;
  }

  .btn {
    font-size: 24px;
  }
  .navigation {
    height: auto;
    width: 100%;
  }
  nav {
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 10px 30px;
    width: 410px;
  }

  .nav-items {
    min-width: 150px;
    margin-right: 41px;
    padding: 20px 0;
  }
  .order-now {
    flex-direction: column;
  }

  .right-side {
    width: 100%;
    margin-left: 0;
    margin-bottom: 16px;
  }

  .left-side {
    width: 422px;
    margin-left: 0;
    height: 336px;
    margin-bottom: 16px;
  }

  .right-side-top {
    margin-bottom: 16px;
  }

  .left-side-container {
    margin: 40px;
  }
  .menu-header {
    flex-wrap: wrap;
    width: 395px;
  }
  .promoCode-title {
    margin: 20px 43px 10px 43px;
  }
  .nav-menu {
    width: 378px;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav-menu a {
    margin-right: 0;
  }
}
